.container{
    display: flex;
    margin: 30px;

}
h1{
text-align: center;
color: rgb(37, 37, 221);

 margin: 30px;

}
div{
    text-align: center;
}
.bodoni-text {
    font-family: 'Bodoni Moda', serif;
  }
  p{

    text-align: center;
}
